.bolder{
  color: #5b9bd1 !important;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.EmployeeName{
  /* border-bottom: 1px solid #eee; */
  color: #5b9bd1 !important;
}
.inputArea{
  width: 100%;
}
.container-fluid{
  height: 1000px;
  margin-top: 30px;
}
.links{
  background-color: white;
  width: 80%;
  margin: auto;
}
ul{
  padding-top: 20px;
  margin: 0 auto;
  padding-bottom: 50px;
  list-style-type: none;
}
li{
  margin: 10px 20px;
}
#PersonalDetails .col-md-5{
  margin: 15px 0;
}
table{
  /* width: 80%; */
  margin: auto;
}
#ProjectsTable{
  width: 70%;
  margin: 30px auto;
}
