<div class="body">

  <button *ngIf="btnReqd" class="btn btn-primary" (click)="TimeOffClicked()"
    data-toggle="modal" data-target="#exampleModal">
    + Request Time OFF
  </button>
  <br *ngIf="!btnReqd">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Total Days</th>
          <th scope="col">Status</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Reviewer</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let Log of LeavesLog" >
        <tr  *ngIf="Log.Status==Status || DontCheck">
          <th>
            {{Log.Type}}
          </th>
          <td>
            {{Log.Total}}
          </td>
          <td>
            {{Log.Status}}
          </td>
          <td>
            {{Log.LeaveFrom | slice:0:10}}
          </td>
          <td>
            {{Log.LeaveTo | slice:0:10}}
          </td>
          <td>
            {{Log.Reviewer}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="timeClash" class="alert alert-danger">
    <strong>
      {{sqlError}}
    </strong>
  </div>
</div>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">New Leave Application Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="Reset(f)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="RaiseRequest(f)">

          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-center">
                <label for="type"> Type </label>
              </div>
              <div class="col-md-9">
                <select required ngModel #type="ngModel" name="type"
                        class="form-control text-center">
                  <option *ngFor="let type of Types" [value]="type.Name">
                     {{type.Name}} </option>
                </select>
                <div *ngIf="type.touched && !(type.valid)">
                  <div *ngIf="type.errors.required" class="alert alert-danger">
                    Type is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3 text-center">
                <label for="date">Date </label>
              </div>
              <div class="col-md-9">
                <div class="row padd">
                  <div class="col-md-5">
                    <input required ngModel #FromDate="ngModel" id="date1"
                    name="FromDate"type="date"class="form-control" (change)="date1Update(f)"
                    min="{{minDate1}}" max="{{maxDate1}}">
                    <div *ngIf="FromDate.touched && !(FromDate.valid)">
                      <div *ngIf="FromDate.errors.required" class="alert alert-danger">
                        Required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 text-center">
                    to
                  </div>
                  <div class="col-md-5">
                    <input required ngModel #ToDate="ngModel" id="date2"
                    name="ToDate" type="date" class="form-control"
                    min="{{minDate2}}">
                    <div *ngIf="ToDate.touched && !(ToDate.valid)">
                      <div *ngIf="ToDate.errors.required" class="alert alert-danger">
                        Required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-center">
              <label for="type">Reason </label>
            </div>
            <div class="col-md-9">
              <textarea required ngModel #Reason="ngModel"
                 name="Reason" class="form-control"
                 cols="30" rows="5"></textarea>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="RaiseRequest(f)"
                data-dismiss="modal" [disabled]="!f.valid"
                >Raise Request
        </button>
        <button class="btn btn-danger" (click)="Reset(f)"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
