.body{
  padding: 30px;
  padding-top: 0;
  margin: 0 auto;
  background-color: white;
  /* height: 1000px; */
}
table{
  margin: 20px auto;
  width: 80%;
}
textarea{
  resize: none;
}

 /* to align the date inputs */
.padd > .col-md-2{
  padding: 0;
}
.col-md-5 > input[type="date"]{
  padding: 0;
}
input[type="date"]{
  font-size: 12px;
}
 /**************************/
