<div id="LeavesTable" class="row">
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Total</th>
          <th scope="col">Balance</th>
          <th scope="col">Pending</th>
          <th scope="col">Approved</th>
          <th scope="col">Rejected</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Log of LeavesLog" >
          <th>
            {{Log.Name}}
          </th>
          <td>
            {{Log.Total}}
          </td>
          <td>
            {{Log.Balance}}
          </td>
          <td>
            {{Log.Pending}}
          </td>
          <td>
            {{Log.Approved}}
          </td>
          <td>
            {{Log.Rejected}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
