.imgHeader{
  margin: 50px auto 20px auto;
}
.card{
  width: 40%;
  max-width: 568px;
  margin: 0 auto;
}
.card-header, .card-footer{
  background-color: #6c7a8d;

}
.card-body{
  background-color: #eceef1;
}
h2{
  color: #BCC2CB;
}
